<!-- FRIENDS VIEW -->
<ion-view view-title="Friends">

	<ion-content>

		<div class="list list-inset">

			<!-- FRIENDS HEADER AND ADD -->
			<div class="list">

				<h1 class="friends-header"> Friends </h1>

				<button class="button button-outline button-positive add-friend">
            
            		+

            	</button>

			</div>

			<!-- NG REPEAT OF FRIENDS -->
			<div class="list">

			    <a class="item item-avatar" href="#">

			    	<img src="img/ionic.png">
			    	
			    	<h2> Friend 1 </h2>
			    	
			    	<p> I get a lot of points </p>

			    </a>

			</div>

		</div>

	</ion-content>

</ion-view>