<!-- LOGIN VIEW -->
<ion-view view-title="Login">
  
    <ion-content class="login-screen">

        <div class="list list-inset login-screen">

            <!-- LOGO -->


            <!-- INTRO -->
            <h4 class="login-intro"> Welcome to Fair Point - Login here </h4>

            <!-- USERNAME -->
            <span class="input-label"> Username </span>

            <label class="item item-input brief-field">

                <input type="text">

            </label>
            
            <!-- PASSWORD -->
            <span class="input-label"> Password </span>

            <label class="item item-input brief-field">

                <input type="password">

            </label>

            <!-- LOGIN -->
            <button class="button button-outline button-block button-positive button-border" ng-click="LogIn(user)">
            
                Login

            </button>

            <button class="button button-outline button-block button-balanced button-border" ng-click="showPopup()">
                
                Forgot Password
            
            </button>

        </div>

    </ion-content>

</ion-view>
