<ion-side-menus enable-menu-with-back-views="false">
   
    <ion-side-menu-content>
   
        <ion-nav-bar class="header-color">

            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">

              <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            
            </ion-nav-buttons>
        
        </ion-nav-bar>
        
        <ion-nav-view name="menuContent"></ion-nav-view>
   
    </ion-side-menu-content>

    <ion-side-menu side="left">

        <!-- SIDE MENU HEADER -->
        <ion-header-bar class="header-color"></ion-header-bar>

        <ion-content>
        
            <ion-list>
                
                <!-- USER -->
                <div class="item item-thumbnail-left" href="#">

                    <img class="menu-profile-pic" src="img/ionic.png">

                    <h2> Dave Gadsden </h2>

                    <p> Admin User </p>

                </div>

                <!-- SIDEMENU -->
                <ion-item nav-clear menu-close href="#/app/overview">
                    <i class="icon ion-home"></i> &nbsp; Overview
                </ion-item>
            
                <ion-item nav-clear menu-close href="#/app/points">
                    <i class="icon ion-stats-bars"></i> &nbsp; My Points
                </ion-item>
            
                <ion-item nav-clear menu-close href="#/app/friends">
                    <i class="icon ion-person-stalker"></i> &nbsp; Friends
                </ion-item>

                <ion-item nav-clear menu-close href="#/app/rules">
                    <i class="icon ion-clipboard"></i> &nbsp; Rules
                </ion-item>

                <ion-item nav-clear menu-close href="#/app/settings">
                    <i class="icon ion-gear-b"></i> &nbsp; Settings
                </ion-item>

                <ion-item nav-clear menu-close href="#/app/login">
                    <i class="icon ion-power"></i> &nbsp; Logout
                </ion-item>

                <!-- END OF SIDEMENU -->
            
            </ion-list>
        
        </ion-content>

    </ion-side-menu>

</ion-side-menus>
